.answerForm {
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  padding: 2rem;
  margin-top: 4rem;
}

.result{
  text-align: center;
  font-size: 1.5rem;
}
.result span{
  font-size: 2rem;
  border: none;
  background-color: transparent;
  color: #e70000;
}

.hide{
  opacity: 0;
  transition: .5s ease-in-out;
}

.show{
  opacity: 1;
  transition: .5s ease-in-out;
}