.answerForm {
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 10px;
  width: 95%;
  padding: 0.5rem;
  margin-top: 1rem;
}

.result {
  text-align: center;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}
.result p:nth-of-type(2) {
  font-size: 1rem;
  background-color: transparent;
  color: #e70000;
}

.hide {
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.show {
  opacity: 1;
  transition: 0.5s ease-in-out;
}

@media (min-height: 768px) {
  .result {
    font-size: 1rem;
  }
  .result p:nth-of-type(2) {
    font-size: 1.5rem;
  }
}
@media (min-width: 470px) {
  .answerForm {
    margin-top: 0rem;
  }
}
@media (min-width: 665px) {
  .result {
    font-size: 1.3rem;
  }
  .result p:nth-of-type(2) {
    font-size: 1.8rem;
  }
}
