.footer {
  background-color: #fff;
  width: 100%;
  color: #000;
}
.footer p {
  width: 100%;
  font-size: 0.8rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer p span {
  background-color: #fff;
}
.footer p span a {
  font-size: 0.8rem;
  text-decoration: none;
  font-weight: bold;
  color: #56854c !important;
}
.footer p span a:hover {
  color: #345c2b !important;
}

@media (min-width: 768px) {
  .footer p,
  .footer p span a {
    font-size: 1rem;
  }
}
