.form {
  width: 100%;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
label {
  margin: 0.2rem 0;
  display: grid;
  grid-template-columns: 5fr 14fr;
  border-radius: 5px;
}
span {
  border: 1px solid #dcdcdc;
  text-align: center;
  font-size: 0.8rem;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 0px 0px 5px;
  border: none;
  background-color: #87a159;
  border-right: none;
  color: #fff;
}
input {
  width: 100%;
  font-size: 0.8rem;
  padding: 0.2rem 0 0.2rem 0.8rem;
  border: 1px solid #dcdcdc;
  border: none;
  border-radius: 0px 5px 5px 0px;
  outline: none;
}
select {
  background-color: #fff;
  width: 100%;
  font-size: 0.8rem;
  padding: 0.2rem 0 0.2rem 0.8rem;
  border: none;
  border-left: none;
  border-radius: 0px 5px 5px 0px;
  outline: none;
}
button {
  margin-top: 1rem;
  border: 1px solid rgba(101, 126, 60, 0.3);
  color: #fff;
  text-shadow: -1px 1px 3px #000;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.2rem 1rem;
  background-color: #94c442;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: 100ms ease-in-out;
}
button:hover {
  background-color: #87a159;
}
input[type="number"],
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: textfield;
}

@media (min-width: 768px) {
  span,
  input,
  select,
  button {
    font-size: 1rem;
  }
}
@media (min-width: 1024px) and (min-height: 580px) {
  .form {
    height: 100%;
  }
  form {
    height: 100%;
    justify-content: center;
    gap: 0rem;
  }
  span,
  input,
  select,
  button {
    font-size: 1.2rem;
  }
}
