@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

:root {
  --font-kanit: "Kanit", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-kanit);
}

html {
  background-image: url(./assets/bg-diet.jpg);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

.diet_bg_layer {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.diet {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 75%;
  padding: 1rem 1.5rem;
  margin: 0 auto 3rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
}
.title h1 {
  color: #000;
  text-align: center;
  width: 100%;
  font-size: 5vw;
}
.main_form {
  margin-top: 1rem;
}
.main_result {
  margin-top: 1rem;
}
.footer {
  bottom: 0;
  left: 0;
}

@media (min-height: 535px) {
  html {
    height: 100%;
  }
  .diet_bg_layer {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .diet {
    justify-content: space-around;
  }
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
@media (min-width: 768px) {
  .diet h1 {
    font-size: 2.4rem;
  }
}
@media (min-width: 768px) and (min-height: 536px) {
  .diet {
    height: 29rem;
    width: 75%;
  }
}
@media (min-width: 768px) and (min-height: 600px) {
  .diet {
    height: 31rem;
  }
}

@media (min-width: 1024px) {
  .diet {
    height: 29rem;
    width: 47rem;
  }
}
@media (min-width: 1024px) and (min-height: 580px) {
  .diet {
    height: 32rem;
    width: 47rem;
  }
  .main_form {
    height: 100%;
    display: flex;
    align-items: center;
  }
}
